In [63]:
import pandas as pd
import numpy as np

In [64]:
# [INTRODUCTION TO PANDAS]
print("An Introduction to Pandas")
print("Advantages of using Pandas are as follows : ")
print("[1] intrinsic data alignment")
print("[2] data operation functions")
print("[3] functions to handle missing data values")
print("[4] data standardization functions")
print("[5] data structures handling major use cases")

An Introduction to Pandas
Advantages of using Pandas are as follows :
[1] intrinsic data alignment
[2] data operation functions
[3] functions to handle missing data values
[4] data standardization functions
[5] data structures handling major use cases

In [65]:
# [POWERFUL FEATURES OF PANDAS]
print("Powerful Features of Pandas")
print("[1] powerful data structures.\n[2] fast and efficient data wrangling.\n[3] easy data aggregation and transformation.\n[4] tools for reading and writing data.\n[5] intelligent and automated data alignment.\n[6] high performance merging and joining of data sets.")

Powerful Features of Pandas
[1] powerful data structures.
[2] fast and efficient data wrangling.
[3] easy data aggregation and transformation.
[4] tools for reading and writing data.
[5] intelligent and automated data alignment.
[6] high performance merging and joining of data sets.

In [66]:
# [DATA STRUCTURES IN PANDAS]
print("Types of Data Structures used in Pandas")
# using a dictionary to store the different types of Data Structures in Pandas.
data_structures_in_pandas = {
    "[1] Series":"One dimensional labeled array. Supports multiple data types.",
    "[2] Data Frame":"Two dimensional labeled array. Supports multiple data types. Input can be a series. Input can be another dataframe",
    "[3] Panel": "Three dimensional labeled array. Supports multiple data types. Items -> axis 0. Major axis -> rows. Minor axis -> columns",
    "[4] Panel 4D (Experimental)":"Four dimensional labeled array. Supports multiple data types. Labels -> axis 0. Items -> axis -> 1. Major axis -> rows. Minor axis -> columns."
}
print("There are "+str(len(data_structures_in_pandas))+" key types of data structures in Pandas.")
print(data_structures_in_pandas)

Types of Data Structures used in Pandas
There are 4 key types of data structures in Pandas.
{'[1] Series': 'One dimensional labeled array. Supports multiple data types.', '[2] Data Frame': 'Two dimensional labeled array. Supports multiple data types. Input can be a series. Input can be another dataframe', '[3] Panel': 'Three dimensional labeled array. Supports multiple data types. Items -> axis 0. Major axis -> rows. Minor axis -> columns', '[4] Panel 4D (Experimental)': 'Four dimensional labeled array. Supports multiple data types. Labels -> axis 0. Items -> axis -> 1. Major axis -> rows. Minor axis -> columns.'}

In [67]:
# [READING FILES IN PANDAS]
print("Pandas can be used to read data from multiple file types.")
supported_file_types = ('read_excel_to_excel : xlxs','read_hdf_to_hdf : hdf','read_html_to_html : html')
print(supported_file_types)
print("and so on...")

Pandas can be used to read data from multiple file types.
('read_excel_to_excel : xlxs', 'read_hdf_to_hdf : hdf', 'read_html_to_html : html')
and so on...

In [68]:
# [INTRODUCTION TO SERIES IN PANDAS]
# [1] Series can be created with different data inputs.
# Data Types - Integer, String, Python Object, Floating Point
# [2] Data Inputs - ndarray, dict, scalar, list
# [3] Label (index)

In [69]:
# [HOW TO CREATE A SERIES]
# first step is to import pandas
# import pandas as pd
# import numpy as np

In [70]:
# [CREATING A SERIES]
first_series = pd.Series(list('abcdef'))

In [71]:
# [PRINTING THE SERIES]
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [72]:
# [CREATING A SERIES FROM AN ndarray]
np_animals = np.array(['cat','dog','leopard','goose','rabbit','tortoise','lemur','puma','python','alligator'])
series_animals = pd.Series(np_animals)

In [73]:
# [PRINTING THE ABOVE SERIES]
print(series_animals)

0          cat
1          dog
2      leopard
3        goose
4       rabbit
5     tortoise
6        lemur
7         puma
8       python
9    alligator
dtype: object

In [74]:
# [CREATING A SERIES WITH DICT DATA INPUT FOR FASTER OPERATION]
dict_animal_life_span = pd.Series([8,14,25,8,5,120,40,30,19,25], index = ['cat','dog','leopard','goose','rabbit','tortoise','lemur','puma','python','alligator'])

In [75]:
# [PRINTING THE ABOVE SERIES]
print(dict_animal_life_span)

cat            8
dog           14
leopard       25
goose          8
rabbit         5
tortoise     120
lemur         40
puma          30
python        19
alligator     25
dtype: int64

In [76]:
# [PRINT SERIES WITH SCALAR INPUT]
scalar_series = pd.Series(5.,index = ['a','b','c','d','e','f'])
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

In [77]:
# [PRINTING THE ABOVE SERIES WITH PRINT FUNCTION]
print(scalar_series)

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

In [79]:
# [ACCESSING ELEMENTS IN A SERIES]
dict_animal_life_span[0]

8

In [80]:
# [ACCESS FIRST 5 ELEMENTS]
dict_animal_life_span[0:5]

cat         8
dog        14
leopard    25
goose       8
rabbit      5
dtype: int64

In [82]:
# [LOOKUP AN ANIMAL BY NAME OR INDEX]
dict_animal_life_span.loc['leopard']

25

In [85]:
# [LOOKUP AN ANIMAL BY POSITION] : Returns value for Rabbit
dict_animal_life_span.iloc[4]

5

In [89]:
# [VECTORIZED OPERATIONS IN SERIES]
first_vector_series = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
second_vector_series = pd.Series([11,22,33,44,55],index = ['a','b','c','d','e'])

In [90]:
first_vector_series + second_vector_series

a    12
b    24
c    36
d    48
e    60
dtype: int64